
.mobile {
    width: 300px;
    height: 100%;
    background-color: rgb(228, 225, 225);
}
body {
    margin: 0px;
}
.head {
    background-color: white;
    height: 50px;
    font-size: 30px;
    padding-left: 20px;
}
.test1 {
    font-size: 40px !important;
    position: relative;
    left: 100px;
    padding-left: 20px;
}
.test2 {
    font-size: 25px !important;
    color: rgb(177, 174, 174);
}
.span {
    color: rgb(177, 174, 174);
    font-size: 17px;
    position: relative;
    bottom: 5px;
}
.input {
    width: 20px;
    height: 20px;
}
.span1 {
    font-size: 17px;
    position: relative; 
    bottom: 5px
}
.flexcon {
    padding-left: 20px;
}
.flex {
    width: 250px;
    height: 280px;
    background-color: white;
}
.trip {
    font-size: 20px;
    color: dodgerblue;
    text-decoration: none;
    position: relative;
    top: 10px;
}
@media screen and (min-width:400px) {
    .mobile {
        background-color: aliceblue;
    }

}
@media screen and (max-width:800px) {
}
